
/*importing main font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*variables*/
:root {
  --nav-bg: #faa69b;
  --bg: #ffefed;


  --thin-border: 1px solid #faa69b;
  --bor-rad: .25rem;
}


/*general styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.txt-bold {
  font-weight: 500;
  font-size: 1.3rem;
}

.separate {
  padding: 1rem 0 1.5rem 0;
}
